$background: #2b2b2b;
$preBackground: #5e5c5b;
$selectionBackground: #61936f;
$linkBackground:#8cc1d3;
$color: #bcc2cd;

.custom-color body {
    background-color: $background !important;
    color: $color !important;
    * {
        background-color: inherit !important;
        color: inherit !important;
    }
    code, pre, input[type=search] {
        background-color: $preBackground !important;
    }
    a {
        color: $linkBackground !important;
    }
    ::selection {
        background-color: $selectionBackground;
    }

}